* {
    box-sizing: border-box;
}
body {
    background: grey;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 71);
    box-shadow: 5px 5px 15px rgba(0,0,0,.5);
    height: 550px;
    width: 300px;
    border-radius: 30px;
    overflow: hidden;
}
.container2 {
    background: rgb(17, 16, 16);
    display: flex;
    flex-direction: column;
    height: 530px;
    width: 280px;
    border-radius: 15px;
}
.contact-screen {
    background: rgb(17, 16, 16);
    display: flex;
    flex-direction: row;
    box-shadow: inset 0 -.5px rgb(255, 250, 250, 0.1);
    justify-content: space-between;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.center-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-out {
   all: unset;
   margin-left: 15px;
   color: rgb(28, 87, 180);
   font-size: 25px;
   transform: rotate(270deg);
}
.facetime {
   all: unset;
   margin-right: 15px;
   margin-bottom: 10px;
   color: rgb(28, 87, 180);
   font-size: 25px;
}
.avatar {
    height: 120%;
    width: 140%;
    object-fit: cover;
    object-position: center 90%; 
}
.pfp {
    margin-top: 5px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
}
.contact-name {
    padding: 0;
    margin: 0;
    color: rgb(211, 209, 209);
    font-size: 8px;
    margin-bottom: 3px;
    font-family: system-ui;
}
.message-screen {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    flex: 1;
}
.message {
    /* flex: 1; */
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 8px;
    font-family: system-ui;
    font-size: 14px;
    box-shadow: 5px 5px 15px rgba(0,0,0,10);
}
.grey {
    background-color: grey;
    align-self: flex-start;
    max-width: 200px;
}
.blue {
    background-color: rgb(28, 87, 180);
    align-self: flex-end;
    max-width: 200px;
}
.texting-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: rgb(30, 30, 30);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
input {
    padding-left: 10px;
}

.message-box {
    border-radius: 15px;
    height: 28px;
    background: rgb(231, 230, 230);
    flex: 1;
}

.send {
    all: unset;
    background-color: rgb(28, 87, 180);
    color: white;
    text-align: center;
    padding: 1px;
    font-weight: bold;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
